<header class="sticky-top bg-light p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ path('dashboard.home') }}" class="nav-link px-2 link-dark">Home</a></li>
            </ul>
            <div class="dropdown text-end">
                <a class="btn btn-secondary mx-3" href="#">
                    Login
                </a>
                <a class="btn btn-dark" href="#">
                    Register
                </a>
            </div>
        </div>
    </div>
</header>


