{% extends 'layouts/base.html.twig' %}

{% block body %}

    <h1>This is home page</h1>
    <p>Blog text: {{ blog_text ?? ''}}</p>
    <form action="{{ path('dashboard.home') }}" method="post">
        <p>
            <label>Название: </label><br>
            <input type="text" name="title">
        </p>
        <p>
            <label>Текст: </label><br>
            <input type="text" name="text">
        </p>
        <button>Отправить</button>
    </form>
{% endblock %}