{% extends 'layouts/base.html.twig' %}

{% block body %}

    <h1>This is home page</h1>
    <form action="{{ path('dashboard.home') }}" method="post">
        <p>
            <label>Название: </label><br>
            <input type="text" name="title">
        </p>
        <p>
            <label>Текст: </label><br>
            <input type="text" name="text">
        </p>
        <button>Отправить</button>
    </form>
    {% for post in posts %}
        <hr>
        <p><b>Название: </b>{{ post.title|upper|raw }}</p>
        <p><b>Текст: </b>{{ post.text|raw }}</p>
    {% endfor %}
{% endblock %}